application/vendor
application/node_modules
application/public/hot
application/public/storage
application/storage/*.key
application/vendor
application/.env
application/.env.backup
application/.phpunit.result.cache
application/Homestead.json
application/Homestead.yaml
application/npm-debug.log
application/yarn-error.log
application/.idea
application/.vscode
